* {
	list-style-type: none;
	padding: 0;
}

img {
	max-width: 100%;
}

p {
	max-width: 1000px;
	margin: auto;
	padding: 0 20px;
}

body {
	margin: 0;
	color: var(--color-text-primary);
	background: var(--color-background);
	font-family: var(--font-family-primary);
}
section {
	padding: 0 15px;
}
button,
input[type="submit"],
.card {
	transition: transform 0.2s;
}
button:hover {
	transform: scale(1.1);
	cursor: pointer;
}
input[type="submit"]:hover {
	color: var(--color-background);
	border: 2px solid black;
	background-color: var(--color-text-primary);
	cursor: pointer;
}
input[type="submit"]:focus {
	background-color: rgb(214, 214, 220);
}
/* --- Header img --- */
.header_img {
	border-bottom: 3px solid var(--color-text-primary);
	height: 250px;
	width: 100%;
	object-fit: cover;
	object-position: center top;
}
@media only screen and (min-width: 450px) {
	.header_img {
		height: 275px;
	}
}
@media only screen and (min-width: 600px) {
	.header_img {
		height: 300px;
	}
}
@media only screen and (min-width: 800px) {
	.header_img {
		height: 400px;
	}
}

#menu-checkbox:checked ~ nav {
	display: block;
}

.logo {
	max-width: 70px;
	height: 70px;
}
.card {
	margin: 50px auto;
	border-radius: 10px;

	overflow: hidden; /*https://stackoverflow.com/questions/62759278/element-with-border-radius-inside-element-with-border-radius-is-not-consistent*/

	div:nth-child(1) {
		height: 200px;
		position: relative;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	div:nth-child(2) {
		padding: 10px;
	}
	span {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 10px 20px;
		background-color: #d9d9d9;
		color: var(--color-text-secondary);
		height: 25px;
	}
	h4 {
		background-color: #d9d9d9;
		color: var(--color-text-secondary);
		padding: 10px 0;
		margin: 0;
	}
}
.card:hover {
	transform: scale(1.02);
	cursor: pointer;
}
